_archived_non_electricity/Node-RED - Light and Moisture Monitoring Dashboard/Publishers Flow.json
[
    {
        "id": "f36a0c94df7440fe",
        "type": "debug",
        "z": "b73ba9ac65f7d438",
        "name": "debug 106",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 1440,
        "wires": []
    },
    {
        "id": "a3b54c41b28cfc8d",
        "type": "group",
        "z": "b73ba9ac65f7d438",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "c13b95ce8bda049d",
            "8e7f834a11c39767",
            "8f59004c62163053",
            "8364a255752bb046",
            "731cfe024e124e3e",
            "d1e4513fd702307d",
            "45ae818060c747fb",
            "59d007bbbdbc0832",
            "7803a2c3448e1df3",
            "3a8a6fb5b0c4d086",
            "188c0ac8d5c84aa4",
            "65d7e63cf8b83674",
            "5c0abc4641679e5f",
            "0e761d1e8e6f9f96",
            "d29efdab80e85feb",
            "21e4f722e077fbc2",
            "4335c1b63ba76dec",
            "252e69b5f7e9eb7d",
            "8764a5785bfca180",
            "6bbb047432f7b192",
            "e50d454a3dd2bb6a",
            "a39f91a91c1e9067",
            "1205c01e79232ad4",
            "4896f9f8a88253eb",
            "a5cf4887b6ab183a",
            "009e95791a27d5c2",
            "dc6dee2d7ab15910",
            "002464e9f9cd6a94",
            "8035ddc24910ffee",
            "54df7dd5d5d3017f",
            "c2785d078eb6d3cd",
            "d10bf575bb5ff411",
            "be5377061268f9dc",
            "445f2d3e1c824bbc",
            "5e06eaeff09ae799",
            "a08edae7ffb75ef1",
            "fe132036e6dc1ca3"
        ],
        "x": 44,
        "y": 39,
        "w": 1642,
        "h": 702
    },
    {
        "id": "c13b95ce8bda049d",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta1",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture1 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light1 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture1 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture1\" : moisture1,\n    \"light1\" : light1,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "8e7f834a11c39767",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "8e7f834a11c39767",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f59004c62163053",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta1/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "8364a255752bb046",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta1/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "731cfe024e124e3e",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta2",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture2 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light2 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture2 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture2\" : moisture2,\n    \"light2\" : light2,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 300,
        "wires": [
            [
                "d1e4513fd702307d",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "d1e4513fd702307d",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "45ae818060c747fb",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta2/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1320,
        "y": 160,
        "wires": []
    },
    {
        "id": "59d007bbbdbc0832",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta2/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1310,
        "y": 200,
        "wires": []
    },
    {
        "id": "7803a2c3448e1df3",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta3",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture3 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light3 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture3 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture3\" : moisture3,\n    \"light3\" : light3,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "3a8a6fb5b0c4d086",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "3a8a6fb5b0c4d086",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 340,
        "wires": []
    },
    {
        "id": "188c0ac8d5c84aa4",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta3/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1420,
        "y": 240,
        "wires": []
    },
    {
        "id": "65d7e63cf8b83674",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta3/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1430,
        "y": 280,
        "wires": []
    },
    {
        "id": "5c0abc4641679e5f",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta4",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture4 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light4 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture4 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture4\" : moisture4,\n    \"light4\" : light4,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 380,
        "wires": [
            [
                "0e761d1e8e6f9f96",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "0e761d1e8e6f9f96",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "d29efdab80e85feb",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta4/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1520,
        "y": 320,
        "wires": []
    },
    {
        "id": "21e4f722e077fbc2",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta4/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1510,
        "y": 360,
        "wires": []
    },
    {
        "id": "4335c1b63ba76dec",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta5",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture5 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light5 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture5 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture5\" : moisture5,\n    \"light5\" : light5,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 420,
        "wires": [
            [
                "252e69b5f7e9eb7d",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "252e69b5f7e9eb7d",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "8764a5785bfca180",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta5/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "6bbb047432f7b192",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta5/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1510,
        "y": 460,
        "wires": []
    },
    {
        "id": "e50d454a3dd2bb6a",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta6",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture6 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light6 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture6 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture6\" : moisture6,\n    \"light6\" : light6,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "a39f91a91c1e9067",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "a39f91a91c1e9067",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "1205c01e79232ad4",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta6/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1440,
        "y": 500,
        "wires": []
    },
    {
        "id": "4896f9f8a88253eb",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta6/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1430,
        "y": 540,
        "wires": []
    },
    {
        "id": "a5cf4887b6ab183a",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta7",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\nvar low_moisture = 0.01\nvar moisture7 = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light7 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture7 = Math.random() * 0.5 + low_moisture;\n\n\nreturn {payload : {\n    \"moisture7\" : moisture7,\n    \"light7\" : light7,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 500,
        "wires": [
            [
                "009e95791a27d5c2",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "009e95791a27d5c2",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta7",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 500,
        "wires": []
    },
    {
        "id": "dc6dee2d7ab15910",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta7/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1380,
        "y": 580,
        "wires": []
    },
    {
        "id": "002464e9f9cd6a94",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta7/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "8035ddc24910ffee",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta8",
        "func": "var timestamp = msg.payload;\nvar hour = new Date(timestamp).getHours()\nvar low_moisture = 0.01\nvar moisture8 = Math.random() * 0.5 + low_moisture;\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\nvar light8 = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture8 = Math.random() * 0.5 + low_moisture;\nreturn {payload : {\n    \"moisture8\" : moisture8,\n    \"light8\" : light8,\n    \"index\" : 1,\n    \"tablePosition\": {\n        \"x\":0,\n        \"y\": 0\n    }\n}};\n\nvar timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\nvar low_moisture = 0.01\nvar moisture = Math.random() * 0.5 + low_moisture;\n\n\nif (hour > 7 && hour < 19) {\n    var low_light = 10000;\n    var high_light = 25000;\n} else {\n    var low_light = 500;\n    var high_light = 5000;\n}\n\nvar light = Math.floor(Math.random() * (high_light - low_light) + low_light);\nvar moisture = Math.random() * 0.5 + low_moisture;\n\n\nreturn {\n    payload: {\n        \"moisture\": moisture,\n        \"light\": light,\n        \"index\": 1,\n        \"tablePosition\": {\n            \"x\": 0,\n            \"y\": 0\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 540,
        "wires": [
            [
                "54df7dd5d5d3017f",
                "5e06eaeff09ae799"
            ]
        ]
    },
    {
        "id": "54df7dd5d5d3017f",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "/smartGreenhouse/planta8",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "c2785d078eb6d3cd",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta8/moisture",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1300,
        "y": 660,
        "wires": []
    },
    {
        "id": "d10bf575bb5ff411",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "",
        "topic": "smartGreenhouse/planta8/light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1290,
        "y": 700,
        "wires": []
    },
    {
        "id": "be5377061268f9dc",
        "type": "link in",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "link in 12",
        "links": [
            "13cb37a0941ba593"
        ],
        "x": 85,
        "y": 360,
        "wires": [
            [
                "c13b95ce8bda049d",
                "731cfe024e124e3e",
                "7803a2c3448e1df3",
                "5c0abc4641679e5f",
                "4335c1b63ba76dec",
                "e50d454a3dd2bb6a",
                "a5cf4887b6ab183a",
                "8035ddc24910ffee"
            ]
        ]
    },
    {
        "id": "445f2d3e1c824bbc",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Planta1_moisture",
        "func": "var moisture1= {payload:msg.payload.moisture1}\nvar light1 = { payload: msg.payload.light1}\nvar moisture2 = { payload: msg.payload.moisture2 }\nvar light2 = { payload: msg.payload.light2 }\nvar moisture3 = { payload: msg.payload.moisture3 }\nvar light3 = { payload: msg.payload.light3 }\nvar moisture4 = { payload: msg.payload.moisture4 }\nvar light4 = { payload: msg.payload.light4 }\nvar moisture5 = { payload: msg.payload.moisture5 }\nvar light5 = { payload: msg.payload.light5 }\nvar moisture6 = { payload: msg.payload.moisture6 }\nvar light6 = { payload: msg.payload.light6 }\nvar moisture7 = { payload: msg.payload.moisture7 }\nvar light7 = { payload: msg.payload.light7 }\nvar moisture8 = { payload: msg.payload.moisture8 }\nvar light8 = { payload: msg.payload.light8 }\nreturn [moisture1, light1, moisture2, light2, moisture3, light3, moisture4, light4, moisture5, light5, moisture6, light6, moisture7, light7, moisture8, light8];",
        "outputs": 16,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 400,
        "wires": [
            [
                "8f59004c62163053"
            ],
            [
                "8364a255752bb046"
            ],
            [
                "45ae818060c747fb"
            ],
            [
                "59d007bbbdbc0832"
            ],
            [
                "188c0ac8d5c84aa4"
            ],
            [
                "65d7e63cf8b83674"
            ],
            [
                "d29efdab80e85feb"
            ],
            [
                "21e4f722e077fbc2"
            ],
            [
                "8764a5785bfca180"
            ],
            [
                "6bbb047432f7b192"
            ],
            [
                "1205c01e79232ad4"
            ],
            [
                "4896f9f8a88253eb"
            ],
            [
                "dc6dee2d7ab15910"
            ],
            [
                "002464e9f9cd6a94"
            ],
            [
                "c2785d078eb6d3cd"
            ],
            [
                "d10bf575bb5ff411"
            ]
        ]
    },
    {
        "id": "5e06eaeff09ae799",
        "type": "link out",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "link out 20",
        "mode": "link",
        "links": [],
        "x": 375,
        "y": 400,
        "wires": []
    },
    {
        "id": "a08edae7ffb75ef1",
        "type": "link in",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "link in 15",
        "links": [],
        "x": 745,
        "y": 400,
        "wires": [
            [
                "445f2d3e1c824bbc"
            ]
        ]
    },
    {
        "id": "fe132036e6dc1ca3",
        "type": "comment",
        "z": "b73ba9ac65f7d438",
        "g": "a3b54c41b28cfc8d",
        "name": "Plant",
        "info": "",
        "x": 230,
        "y": 120,
        "wires": []
    },
    {
        "id": "ee537aff8404c0d5",
        "type": "mqtt-broker",
        "name": "Emqx Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b315b97ab11368b5",
        "type": "group",
        "z": "b73ba9ac65f7d438",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "487f653d5153e61e",
            "13cb37a0941ba593",
            "1a23b39968e15b82"
        ],
        "x": 54,
        "y": 759,
        "w": 552,
        "h": 122
    },
    {
        "id": "487f653d5153e61e",
        "type": "inject",
        "z": "b73ba9ac65f7d438",
        "g": "b315b97ab11368b5",
        "name": "trigger_time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "smartGreenhouse/",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 840,
        "wires": [
            [
                "13cb37a0941ba593"
            ]
        ]
    },
    {
        "id": "13cb37a0941ba593",
        "type": "link out",
        "z": "b73ba9ac65f7d438",
        "g": "b315b97ab11368b5",
        "name": "link out 19",
        "mode": "link",
        "links": [
            "5b09afe2cca8f025",
            "9239fa3474307fe6",
            "be5377061268f9dc"
        ],
        "x": 565,
        "y": 840,
        "wires": []
    },
    {
        "id": "1a23b39968e15b82",
        "type": "comment",
        "z": "b73ba9ac65f7d438",
        "g": "b315b97ab11368b5",
        "name": "Input Trigger",
        "info": "",
        "x": 150,
        "y": 800,
        "wires": []
    },
    {
        "id": "38dd78eb2c51df11",
        "type": "group",
        "z": "b73ba9ac65f7d438",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "61ddde1ef02c627d",
            "cd11e99290b42a98",
            "22a4e7107743f69e",
            "7dfddcc2c9b9f452",
            "481f732c935b52ec",
            "cff9dc9d53383cac",
            "5b09afe2cca8f025",
            "894275cb1b356a93",
            "784e9559982548fa"
        ],
        "x": 634,
        "y": 759,
        "w": 852,
        "h": 262
    },
    {
        "id": "61ddde1ef02c627d",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "Temperature1",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\n\nif (hour > 7 && hour < 19) {\n    var low_temp = 22;\n    var high_temp = 30;\n} else {\n    var low_temp = 14;\n    var high_temp = 18;\n}\n\nvar temp1 = Math.floor(Math.random() * (high_temp - low_temp) + low_temp);\n\n\nreturn {payload : {\n            \"temperature1\":temp1,\n            \"index\" : 1,\n            \"tablePosition\": {\n                \"x\":0,\n                \"y\":0\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 880,
        "wires": [
            [
                "894275cb1b356a93"
            ]
        ]
    },
    {
        "id": "cd11e99290b42a98",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "",
        "topic": "smartGreenhouse/temperature1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1330,
        "y": 860,
        "wires": []
    },
    {
        "id": "22a4e7107743f69e",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "Temperature2",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\n\nif (hour > 7 && hour < 19) {\n    var low_temp = 22;\n    var high_temp = 30;\n} else {\n    var low_temp = 14;\n    var high_temp = 18;\n}\n\nvar temp2 = Math.floor(Math.random() * (high_temp - low_temp) + low_temp);\n\n\nreturn {payload : {\n            \"temperature2\":temp2,\n            \"index\" : 1,\n            \"tablePosition\": {\n                \"x\":0,\n                \"y\":2\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 920,
        "wires": [
            [
                "894275cb1b356a93"
            ]
        ]
    },
    {
        "id": "7dfddcc2c9b9f452",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "",
        "topic": "smartGreenhouse/temperature2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1330,
        "y": 920,
        "wires": []
    },
    {
        "id": "481f732c935b52ec",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "Temperature3",
        "func": "var timestamp = msg.payload;\n\nvar hour = new Date(timestamp).getHours()\n\n\nif (hour > 7 && hour < 19) {\n    var low_temp = 22;\n    var high_temp = 30;\n} else {\n    var low_temp = 14;\n    var high_temp = 18;\n}\n\nvar temp3 = Math.floor(Math.random() * (high_temp - low_temp) + low_temp);\n\n\nreturn {payload : {\n            \"temperature3\":temp3,\n            \"index\" : 1,\n            \"tablePosition\": {\n                \"x\":0,\n                \"y\":4\n    }\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 960,
        "wires": [
            [
                "894275cb1b356a93"
            ]
        ]
    },
    {
        "id": "cff9dc9d53383cac",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "",
        "topic": "smartGreenhouse/temperature3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 1330,
        "y": 980,
        "wires": []
    },
    {
        "id": "5b09afe2cca8f025",
        "type": "link in",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "link in 14",
        "links": [
            "13cb37a0941ba593"
        ],
        "x": 695,
        "y": 920,
        "wires": [
            [
                "61ddde1ef02c627d",
                "22a4e7107743f69e",
                "481f732c935b52ec"
            ]
        ]
    },
    {
        "id": "894275cb1b356a93",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "Temperature",
        "func": "var temp1 = {payload:msg.payload.temperature1}\nvar temp2 = { payload: msg.payload.temperature2 }\nvar temp3 = { payload: msg.payload.temperature3 }\nreturn [temp1, temp2, temp3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 920,
        "wires": [
            [
                "cd11e99290b42a98"
            ],
            [
                "7dfddcc2c9b9f452"
            ],
            [
                "cff9dc9d53383cac"
            ]
        ]
    },
    {
        "id": "784e9559982548fa",
        "type": "comment",
        "z": "b73ba9ac65f7d438",
        "g": "38dd78eb2c51df11",
        "name": "Temperature",
        "info": "",
        "x": 730,
        "y": 800,
        "wires": []
    },
    {
        "id": "875b07cfc7187775",
        "type": "group",
        "z": "b73ba9ac65f7d438",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0a2b5c5538fd59d2",
            "8e505288426d6473",
            "9239fa3474307fe6",
            "06a4b5df4c678852"
        ],
        "x": 54,
        "y": 899,
        "w": 552,
        "h": 122
    },
    {
        "id": "0a2b5c5538fd59d2",
        "type": "mqtt out",
        "z": "b73ba9ac65f7d438",
        "g": "875b07cfc7187775",
        "name": "",
        "topic": "smartGreenhouse/timestamp",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee537aff8404c0d5",
        "x": 460,
        "y": 980,
        "wires": []
    },
    {
        "id": "8e505288426d6473",
        "type": "function",
        "z": "b73ba9ac65f7d438",
        "g": "875b07cfc7187775",
        "name": "DateConverter",
        "func": "var time = msg.payload\n\nvar date = new Date(time);\n\nvar nownow = date.toString()\n\nreturn {payload: nownow};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 980,
        "wires": [
            [
                "0a2b5c5538fd59d2"
            ]
        ]
    },
    {
        "id": "9239fa3474307fe6",
        "type": "link in",
        "z": "b73ba9ac65f7d438",
        "g": "875b07cfc7187775",
        "name": "link in 13",
        "links": [
            "13cb37a0941ba593"
        ],
        "x": 105,
        "y": 980,
        "wires": [
            [
                "8e505288426d6473"
            ]
        ]
    },
    {
        "id": "06a4b5df4c678852",
        "type": "comment",
        "z": "b73ba9ac65f7d438",
        "g": "875b07cfc7187775",
        "name": "Data Convertor",
        "info": "",
        "x": 160,
        "y": 940,
        "wires": []
    }
]