_archived_non_electricity/Project Python NodeRED Integration/Node-RED Flow.txt
[
    {
        "id": "8a8650b1415894f3",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e23169c6179310af",
        "type": "inject",
        "z": "8a8650b1415894f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "cc9132498550bb12"
            ]
        ]
    },
    {
        "id": "9f5d2f35ce7202c7",
        "type": "debug",
        "z": "8a8650b1415894f3",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "cc9132498550bb12",
        "type": "pythonshell in",
        "z": "8a8650b1415894f3",
        "name": "",
        "pyfile": "/Users/Abdul Mannan/Desktop/Python1/PrintHello.py",
        "virtualenv": "",
        "continuous": true,
        "stdInData": true,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "9f5d2f35ce7202c7"
            ]
        ]
    }
]