flows/electricity-monitor.json
[
    {
        "id": "tab.elec",
        "type": "tab",
        "label": "Electricity Monitor",
        "disabled": false,
        "info": "Receives electricity readings over MQTT, stores them in in-memory ring buffers (flow context), displays them on a dashboard, and raises threshold alerts. No database — works on any host without native modules."
    },
    {
        "id": "mqtt.broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "ui.base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
        },
        "site": {
            "name": "Electricity Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {"sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0}
        }
    },
    {
        "id": "ui.tab",
        "type": "ui_tab",
        "name": "Electricity",
        "icon": "flash_on",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui.group.live",
        "type": "ui_group",
        "name": "Live readings",
        "tab": "ui.tab",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui.group.chart",
        "type": "ui_group",
        "name": "Trend",
        "tab": "ui.tab",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui.group.alerts",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "ui.tab",
        "order": 3,
        "disp": true,
        "width": "12"
    },
    {
        "id": "mqtt.in",
        "type": "mqtt in",
        "z": "tab.elec",
        "name": "electricity/+/reading",
        "topic": "electricity/+/reading",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt.broker",
        "x": 160,
        "y": 160,
        "wires": [["fn.validate"]]
    },
    {
        "id": "fn.validate",
        "type": "function",
        "z": "tab.elec",
        "name": "validate + store",
        "func": "const r = msg.payload;\nif (!r || typeof r !== 'object') { node.warn('invalid payload'); return null; }\nconst required = ['meter_id','voltage_v','current_a','power_w','energy_kwh'];\nfor (const k of required) {\n    if (typeof r[k] === 'undefined') { node.warn('missing field: ' + k); return null; }\n}\nr.ts = r.ts || Date.now();\nflow.set('latest', r);\n\n// Append to in-memory ring buffer (cap keeps memory bounded).\nconst MAX = 5000;\nconst buf = flow.get('readings') || [];\nbuf.push(r);\nif (buf.length > MAX) buf.splice(0, buf.length - MAX);\nflow.set('readings', buf);\n\nmsg.payload = r;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [["fn.threshold", "ui.gauge.v", "ui.gauge.i", "ui.gauge.p", "ui.text.energy", "fn.toChart"]]
    },
    {
        "id": "fn.toChart",
        "type": "function",
        "z": "tab.elec",
        "name": "chart series",
        "func": "const r = msg.payload;\nreturn [\n    { topic: 'power_w',   payload: r.power_w },\n    { topic: 'voltage_v', payload: r.voltage_v },\n    { topic: 'current_a', payload: r.current_a }\n];",
        "outputs": 3,
        "x": 640,
        "y": 300,
        "wires": [["ui.chart"], ["ui.chart"], ["ui.chart"]]
    },
    {
        "id": "ui.chart",
        "type": "ui_chart",
        "z": "tab.elec",
        "name": "Power / Voltage / Current",
        "group": "ui.group.chart",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Trend",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#2ca02c", "#d62728", "#ff7f0e", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"],
        "outputs": 1,
        "useUTC": false,
        "x": 900,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "ui.gauge.v",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Voltage",
        "group": "ui.group.live",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Voltage (V)",
        "label": "V",
        "format": "{{msg.payload.voltage_v}}",
        "min": 0,
        "max": "300",
        "colors": ["#d62728", "#2ca02c", "#d62728"],
        "seg1": "210",
        "seg2": "250",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui.gauge.i",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Current",
        "group": "ui.group.live",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Current (A)",
        "label": "A",
        "format": "{{msg.payload.current_a}}",
        "min": 0,
        "max": "50",
        "colors": ["#2ca02c", "#ff7f0e", "#d62728"],
        "seg1": "25",
        "seg2": "30",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui.gauge.p",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Power",
        "group": "ui.group.live",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Power (W)",
        "label": "W",
        "format": "{{msg.payload.power_w}}",
        "min": 0,
        "max": "8000",
        "colors": ["#2ca02c", "#ff7f0e", "#d62728"],
        "seg1": "5000",
        "seg2": "6000",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui.text.energy",
        "type": "ui_text",
        "z": "tab.elec",
        "name": "Energy kWh",
        "group": "ui.group.live",
        "order": 4,
        "width": "12",
        "height": "1",
        "label": "Cumulative energy (kWh):",
        "format": "{{msg.payload.energy_kwh}}",
        "layout": "row-spread",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "fn.threshold",
        "type": "function",
        "z": "tab.elec",
        "name": "threshold check",
        "func": "const T = {\n    voltage_v: { min: 210, max: 250 },\n    current_a: { min: 0,   max: 30  },\n    power_w:   { min: 0,   max: 6000 }\n};\nconst r = msg.payload;\nconst found = [];\nfor (const key of Object.keys(T)) {\n    const v = r[key];\n    if (v < T[key].min) found.push({ metric: key, value: v, threshold: T[key].min, message: r.meter_id + ': ' + key + ' below min (' + v + ' < ' + T[key].min + ')' });\n    if (v > T[key].max) found.push({ metric: key, value: v, threshold: T[key].max, message: r.meter_id + ': ' + key + ' above max (' + v + ' > ' + T[key].max + ')' });\n}\nif (!found.length) return null;\n\n// Persist alerts in flow context (ring buffer).\nconst MAX = 500;\nconst store = flow.get('alerts') || [];\nfor (const a of found) store.push({ meter_id: r.meter_id, ts: r.ts, ...a });\nif (store.length > MAX) store.splice(0, store.length - MAX);\nflow.set('alerts', store);\n\nreturn found.map(a => ({ payload: a.message }));",
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [["ui.toast"]]
    },
    {
        "id": "ui.toast",
        "type": "ui_toast",
        "z": "tab.elec",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Electricity alert",
        "name": "alert toast",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "api.summary.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/summary",
        "url": "/api/summary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [["api.summary.shape"]]
    },
    {
        "id": "api.summary.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "build summary",
        "func": "const TARIFF = 0.15; // cost per kWh (edit to match your tariff)\nconst readings = flow.get('readings') || [];\nconst latest   = flow.get('latest')   || null;\nconst alerts   = flow.get('alerts')   || [];\nconst now = Date.now();\n\nconst dayStart = new Date(); dayStart.setHours(0,0,0,0);\nconst kwhSince = (sinceTs) => {\n    const slice = readings.filter(x => x.ts >= sinceTs);\n    if (slice.length < 2) return 0;\n    return Math.max(0, slice[slice.length-1].energy_kwh - slice[0].energy_kwh);\n};\nconst today = kwhSince(dayStart.getTime());\nconst week  = kwhSince(now - 7*86400000);\nconst month = kwhSince(now - 30*86400000);\nconst alert_count_24h = alerts.filter(a => a.ts > now - 86400000).length;\n\nmsg.payload = {\n    current: latest,\n    today_kwh: +today.toFixed(3),\n    week_kwh:  +week.toFixed(3),\n    month_kwh: +month.toFixed(3),\n    today_cost: +(today*TARIFF).toFixed(2),\n    week_cost:  +(week*TARIFF).toFixed(2),\n    month_cost: +(month*TARIFF).toFixed(2),\n    tariff_per_kwh: TARIFF,\n    alert_count_24h\n};\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 560,
        "wires": [["api.summary.out"]]
    },
    {
        "id": "api.summary.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "api.trend.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/trend",
        "url": "/api/trend",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [["api.trend.shape"]]
    },
    {
        "id": "api.trend.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "build trend",
        "func": "const hours = Math.min(24, Math.max(1, parseInt((msg.req && msg.req.query && msg.req.query.hours) || '1', 10)));\nconst since = Date.now() - hours*3600000;\nconst rows = (flow.get('readings') || [])\n    .filter(r => r.ts >= since)\n    .map(r => ({ ts: r.ts, voltage_v: r.voltage_v, current_a: r.current_a, power_w: r.power_w }));\nconst max = 120;\nlet out = rows;\nif (rows.length > max) {\n    const step = Math.ceil(rows.length / max);\n    out = rows.filter((_, i) => i % step === 0);\n}\nmsg.payload = out;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 620,
        "wires": [["api.trend.out"]]
    },
    {
        "id": "api.trend.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "api.alerts.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/alerts",
        "url": "/api/alerts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 680,
        "wires": [["api.alerts.shape"]]
    },
    {
        "id": "api.alerts.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "build alerts",
        "func": "const limit = Math.min(100, Math.max(1, parseInt((msg.req && msg.req.query && msg.req.query.limit) || '10', 10)));\nconst alerts = flow.get('alerts') || [];\nmsg.payload = alerts.slice(-limit).reverse().map(a => ({\n    ts: a.ts, metric: a.metric, value: a.value, threshold: a.threshold, message: a.message\n}));\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 680,
        "wires": [["api.alerts.out"]]
    },
    {
        "id": "api.alerts.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 680,
        "wires": []
    }
]
