flows/electricity-monitor.json
[
    {
        "id": "tab.elec",
        "type": "tab",
        "label": "Electricity Monitor",
        "disabled": false,
        "info": "Receives electricity readings over MQTT, stores them in SQLite, displays them on a dashboard, and raises threshold alerts."
    },
    {
        "id": "mqtt.broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "sqlite.db",
        "type": "sqlitedb",
        "db": "data/electricity.db",
        "mode": "RWC"
    },
    {
        "id": "ui.base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            }
        },
        "site": {
            "name": "Electricity Monitor",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {"sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0}
        }
    },
    {
        "id": "ui.tab",
        "type": "ui_tab",
        "name": "Electricity",
        "icon": "flash_on",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui.group.live",
        "type": "ui_group",
        "name": "Live readings",
        "tab": "ui.tab",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui.group.chart",
        "type": "ui_group",
        "name": "Trend",
        "tab": "ui.tab",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "ui.group.alerts",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "ui.tab",
        "order": 3,
        "disp": true,
        "width": "12"
    },
    {
        "id": "init.schema",
        "type": "inject",
        "z": "tab.elec",
        "name": "Init schema",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 60,
        "wires": [["init.schema.fn"]]
    },
    {
        "id": "init.schema.fn",
        "type": "function",
        "z": "tab.elec",
        "name": "split CREATEs",
        "func": "const stmts = [\n  \"CREATE TABLE IF NOT EXISTS readings (id INTEGER PRIMARY KEY AUTOINCREMENT, meter_id TEXT NOT NULL, ts INTEGER NOT NULL, voltage_v REAL NOT NULL, current_a REAL NOT NULL, power_w REAL NOT NULL, energy_kwh REAL NOT NULL);\",\n  \"CREATE INDEX IF NOT EXISTS idx_readings_meter_ts ON readings(meter_id, ts);\",\n  \"CREATE TABLE IF NOT EXISTS alerts (id INTEGER PRIMARY KEY AUTOINCREMENT, meter_id TEXT NOT NULL, ts INTEGER NOT NULL, metric TEXT NOT NULL, value REAL NOT NULL, threshold REAL NOT NULL, message TEXT NOT NULL);\"\n];\nreturn stmts.map(s => ({ topic: s }));",
        "outputs": 1,
        "x": 260,
        "y": 60,
        "wires": [["sqlite.init"]]
    },
    {
        "id": "sqlite.init",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "init db",
        "x": 340,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "mqtt.in",
        "type": "mqtt in",
        "z": "tab.elec",
        "name": "electricity/+/reading",
        "topic": "electricity/+/reading",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt.broker",
        "x": 160,
        "y": 160,
        "wires": [["fn.validate"]]
    },
    {
        "id": "fn.validate",
        "type": "function",
        "z": "tab.elec",
        "name": "validate + enrich",
        "func": "const r = msg.payload;\nif (!r || typeof r !== 'object') { node.warn('invalid payload'); return null; }\nconst required = ['meter_id','voltage_v','current_a','power_w','energy_kwh'];\nfor (const k of required) {\n    if (typeof r[k] === 'undefined') { node.warn('missing field: ' + k); return null; }\n}\nr.ts = r.ts || Date.now();\nflow.set('latest', r);\nmsg.payload = r;\nreturn msg;",
        "outputs": 1,
        "x": 400,
        "y": 160,
        "wires": [["fn.toInsert", "fn.threshold", "ui.gauge.v", "ui.gauge.i", "ui.gauge.p", "ui.text.energy", "fn.toChart"]]
    },
    {
        "id": "fn.toInsert",
        "type": "function",
        "z": "tab.elec",
        "name": "-> INSERT sql",
        "func": "const r = msg.payload;\nconst esc = s => \"'\" + String(s).replace(/'/g, \"''\") + \"'\";\nmsg.topic = 'INSERT INTO readings(meter_id, ts, voltage_v, current_a, power_w, energy_kwh) VALUES(' +\n    [esc(r.meter_id), +r.ts, +r.voltage_v, +r.current_a, +r.power_w, +r.energy_kwh].join(',') + ');';\nreturn msg;",
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [["sqlite.insert"]]
    },
    {
        "id": "sqlite.insert",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "store reading",
        "x": 870,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "fn.toChart",
        "type": "function",
        "z": "tab.elec",
        "name": "chart series",
        "func": "const r = msg.payload;\nreturn [\n    { topic: 'power_w',   payload: r.power_w },\n    { topic: 'voltage_v', payload: r.voltage_v },\n    { topic: 'current_a', payload: r.current_a }\n];",
        "outputs": 3,
        "x": 640,
        "y": 300,
        "wires": [["ui.chart"], ["ui.chart"], ["ui.chart"]]
    },
    {
        "id": "ui.chart",
        "type": "ui_chart",
        "z": "tab.elec",
        "name": "Power / Voltage / Current",
        "group": "ui.group.chart",
        "order": 1,
        "width": "12",
        "height": "6",
        "label": "Trend",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "waiting for data...",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#2ca02c", "#d62728", "#ff7f0e", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"],
        "outputs": 1,
        "useUTC": false,
        "x": 900,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "ui.gauge.v",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Voltage",
        "group": "ui.group.live",
        "order": 1,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Voltage (V)",
        "label": "V",
        "format": "{{msg.payload.voltage_v}}",
        "min": 0,
        "max": "300",
        "colors": ["#d62728", "#2ca02c", "#d62728"],
        "seg1": "210",
        "seg2": "250",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui.gauge.i",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Current",
        "group": "ui.group.live",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Current (A)",
        "label": "A",
        "format": "{{msg.payload.current_a}}",
        "min": 0,
        "max": "50",
        "colors": ["#2ca02c", "#ff7f0e", "#d62728"],
        "seg1": "25",
        "seg2": "30",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "ui.gauge.p",
        "type": "ui_gauge",
        "z": "tab.elec",
        "name": "Power",
        "group": "ui.group.live",
        "order": 3,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Power (W)",
        "label": "W",
        "format": "{{msg.payload.power_w}}",
        "min": 0,
        "max": "8000",
        "colors": ["#2ca02c", "#ff7f0e", "#d62728"],
        "seg1": "5000",
        "seg2": "6000",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui.text.energy",
        "type": "ui_text",
        "z": "tab.elec",
        "name": "Energy kWh",
        "group": "ui.group.live",
        "order": 4,
        "width": "12",
        "height": "1",
        "label": "Cumulative energy (kWh):",
        "format": "{{msg.payload.energy_kwh}}",
        "layout": "row-spread",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "fn.threshold",
        "type": "function",
        "z": "tab.elec",
        "name": "threshold check",
        "func": "const T = {\n    voltage_v: { min: 210, max: 250 },\n    current_a: { min: 0,   max: 30  },\n    power_w:   { min: 0,   max: 6000 }\n};\nconst r = msg.payload;\nconst alerts = [];\nfor (const key of Object.keys(T)) {\n    const v = r[key];\n    if (v < T[key].min) alerts.push({ metric: key, value: v, threshold: T[key].min, message: r.meter_id + ': ' + key + ' below min (' + v + ' < ' + T[key].min + ')' });\n    if (v > T[key].max) alerts.push({ metric: key, value: v, threshold: T[key].max, message: r.meter_id + ': ' + key + ' above max (' + v + ' > ' + T[key].max + ')' });\n}\nif (!alerts.length) return null;\nreturn alerts.map(a => ({ payload: a.message, alert: { meter_id: r.meter_id, ts: r.ts, ...a } }));",
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [["fn.alertInsert", "ui.toast"]]
    },
    {
        "id": "fn.alertInsert",
        "type": "function",
        "z": "tab.elec",
        "name": "-> alerts INSERT",
        "func": "const a = msg.alert;\nconst esc = s => \"'\" + String(s).replace(/'/g, \"''\") + \"'\";\nmsg.topic = 'INSERT INTO alerts(meter_id, ts, metric, value, threshold, message) VALUES(' +\n    [esc(a.meter_id), +a.ts, esc(a.metric), +a.value, +a.threshold, esc(a.message)].join(',') + ');';\nreturn msg;",
        "outputs": 1,
        "x": 640,
        "y": 380,
        "wires": [["sqlite.alertInsert"]]
    },
    {
        "id": "sqlite.alertInsert",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "store alert",
        "x": 870,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "ui.toast",
        "type": "ui_toast",
        "z": "tab.elec",
        "position": "top right",
        "displayTime": "5",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Electricity alert",
        "name": "alert toast",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "api.summary.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/summary",
        "url": "/api/summary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [["api.summary.sql"]]
    },
    {
        "id": "api.summary.sql",
        "type": "function",
        "z": "tab.elec",
        "name": "build summary SQL",
        "func": "msg.topic = \"SELECT \" +\n  \"(SELECT IFNULL(MAX(energy_kwh)-MIN(energy_kwh),0) FROM readings WHERE ts > strftime('%s','now','start of day')*1000) AS today_kwh, \" +\n  \"(SELECT IFNULL(MAX(energy_kwh)-MIN(energy_kwh),0) FROM readings WHERE ts > (strftime('%s','now')-7*86400)*1000) AS week_kwh, \" +\n  \"(SELECT IFNULL(MAX(energy_kwh)-MIN(energy_kwh),0) FROM readings WHERE ts > (strftime('%s','now')-30*86400)*1000) AS month_kwh, \" +\n  \"(SELECT COUNT(*) FROM alerts WHERE ts > (strftime('%s','now')-86400)*1000) AS alert_count_24h;\";\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 560,
        "wires": [["api.summary.db"]]
    },
    {
        "id": "api.summary.db",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "query totals",
        "x": 600,
        "y": 560,
        "wires": [["api.summary.shape"]]
    },
    {
        "id": "api.summary.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "shape summary",
        "func": "const TARIFF = 0.15; // cost per kWh (edit to match your tariff)\nconst row = (msg.payload && msg.payload[0]) || {};\nconst latest = flow.get('latest') || null;\nconst today = row.today_kwh || 0;\nconst week  = row.week_kwh  || 0;\nconst month = row.month_kwh || 0;\nmsg.payload = {\n    current: latest,\n    today_kwh: +today.toFixed(3),\n    week_kwh:  +week.toFixed(3),\n    month_kwh: +month.toFixed(3),\n    today_cost: +(today*TARIFF).toFixed(2),\n    week_cost:  +(week*TARIFF).toFixed(2),\n    month_cost: +(month*TARIFF).toFixed(2),\n    tariff_per_kwh: TARIFF,\n    alert_count_24h: row.alert_count_24h || 0\n};\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 800,
        "y": 560,
        "wires": [["api.summary.out"]]
    },
    {
        "id": "api.summary.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "api.trend.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/trend",
        "url": "/api/trend",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [["api.trend.sql"]]
    },
    {
        "id": "api.trend.sql",
        "type": "function",
        "z": "tab.elec",
        "name": "build trend SQL",
        "func": "const hours = Math.min(24, Math.max(1, parseInt((msg.req && msg.req.query && msg.req.query.hours) || '1', 10)));\nmsg.topic = \"SELECT ts, voltage_v, current_a, power_w FROM readings WHERE ts > (strftime('%s','now')-\" + hours + \"*3600)*1000 ORDER BY ts ASC;\";\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 620,
        "wires": [["api.trend.db"]]
    },
    {
        "id": "api.trend.db",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "query trend",
        "x": 590,
        "y": 620,
        "wires": [["api.trend.shape"]]
    },
    {
        "id": "api.trend.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "downsample",
        "func": "const rows = msg.payload || [];\nconst max = 120;\nlet out = rows;\nif (rows.length > max) {\n    const step = Math.ceil(rows.length / max);\n    out = rows.filter((_, i) => i % step === 0);\n}\nmsg.payload = out;\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 620,
        "wires": [["api.trend.out"]]
    },
    {
        "id": "api.trend.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "api.alerts.in",
        "type": "http in",
        "z": "tab.elec",
        "name": "GET /api/alerts",
        "url": "/api/alerts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 680,
        "wires": [["api.alerts.sql"]]
    },
    {
        "id": "api.alerts.sql",
        "type": "function",
        "z": "tab.elec",
        "name": "build alerts SQL",
        "func": "const limit = Math.min(100, Math.max(1, parseInt((msg.req && msg.req.query && msg.req.query.limit) || '10', 10)));\nmsg.topic = \"SELECT ts, metric, value, threshold, message FROM alerts ORDER BY id DESC LIMIT \" + limit + \";\";\nreturn msg;",
        "outputs": 1,
        "x": 370,
        "y": 680,
        "wires": [["api.alerts.db"]]
    },
    {
        "id": "api.alerts.db",
        "type": "sqlite",
        "z": "tab.elec",
        "mydb": "sqlite.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "query alerts",
        "x": 590,
        "y": 680,
        "wires": [["api.alerts.shape"]]
    },
    {
        "id": "api.alerts.shape",
        "type": "function",
        "z": "tab.elec",
        "name": "pass-through",
        "func": "msg.payload = msg.payload || [];\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 680,
        "wires": [["api.alerts.out"]]
    },
    {
        "id": "api.alerts.out",
        "type": "http response",
        "z": "tab.elec",
        "name": "respond",
        "statusCode": "",
        "headers": {},
        "x": 1000,
        "y": 680,
        "wires": []
    }
]
